/* Strategy.css */
html, body {
  height: 100%; /* Ensure the body and html take up the full height */
  margin: 0;
}


.strategy-container {
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
  padding: 20px;
}

.strategy-container p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #ffff;
  padding: 20px;
/* Softens the border */
  width: 60%; /* Centered and responsive width */
  margin: 0 auto; /* Centers the paragraph within the container */
 /* Adds a subtle shadow for depth */
  text-align: left; 
  margin-top: -7px;/* Aligns text to the left */
}


.strategy-svg {
  width: 50%; /* Left side SVG container (50% of the width) */
  height: auto;
  overflow-y: auto;
  margin-top: -99px;
}

.strategy-svg text {
  font-size: 14px;
  fill: #333;
}

.strategy-goal {
  font-size: 16px;
  font-weight: bold;
}

.strategy-rect {
  fill: #e0e0e0;
  stroke: #bbb;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Cover the entire bottom width */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the page height is at least the viewport height */
}

.content {
  flex-grow: 1; /* Ensure content takes up remaining space before footer */
}

/* Responsive Design */
@media (max-width: 768px) {
  .strategy-container {
    flex-direction: column; /* Stack the paragraph and SVG vertically */
  }
  

  .strategy-container p {
    width: 100%; /* Make the paragraph take full width */
    margin-right: 0; /* Remove the margin to prevent any space on the right */
    margin-bottom: 20px; /* Add space between the paragraph and the SVG */
  }

  .strategy-svg {
    width: 100%; /* Make the SVG take full width */
  }
}
.button-style {
  background-color: #f07f16; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.button-style:hover {
  background-color: #5ec8f1;
}

.download-section {
  margin-top: 20px;
}
