/* Container for the entire page */
.update-profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the screen */
    padding: 20px;
    margin: 0 auto;
  }
  
  /* Styling for instructions at the top */
  .instructions {
    width: 100%; /* Make instructions span the full width */
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 50px;
  }
  
  /* Styling for form container */
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    flex-grow: 1; /* Allow content to grow and take up remaining space */
  }
  
  .form-container {
    width: 60%; /* Adjust as necessary */
  }
  
  .faq-container {
    width: 35%; /* Adjust as necessary */
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .faq-container h2 {
    text-align: center;
  }
  
  .faq-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .faq-container li {
    margin-bottom: 10px;
  }
  
  .update-profile-form div {
    margin-bottom: 10px;
  }
  
  .update-profile-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .update-profile-form input,
  .update-profile-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
  }
  
  .update-profile-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-profile-form button:hover {
    background-color: #0056b3;
  }
  
  .update-profile-form {
    max-width: 800px;
    margin-left: 0px; /* Align form to the left */
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    text-align: left;
  }
  
  /* Footer Styling */
  footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: auto; /* Pushes footer to the bottom */
  }
  